<section id="about" class="about-section" aria-label="about section">
  <div class="container">
    <div class="about-header">
      <p class="title">*Connecting people, spaces & lifestyles. <b>Our Journey</b> as impactful Urban Real Estate Developer Companies.</p>
    </div>
    <div class="content-wrapper">
      <div class="image-container">
        <div class="about-image">
          <img src="https://img.freepik.com/free-photo/vertical-low-angle-shot-high-rise-skyscrapers-glass-facade-frankfurt-germany_181624-7114.jpg" alt="About Metropolis Living">
          <!-- logo.component.html -->
          <div class="logo-container">
            <div class="logo-circle">
              <!-- <span class="logo-text">W</span> -->
              <div class="laurel"></div>
            </div>
          </div>
        </div>
        <p>Wrbanite Twin Tower. I23 Street. USA</p>
      </div>
      <div class="details-container">
        <div class="content-area">
          <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem totam seduten
          accusantium doloremque laudantium. totam rem aperam. eaque ipsa quaen.</p>
          <div class="line-separator"></div>
          <p>Praesent dignissim erat urna. vitae accumsan eros efficitur sed. Maecenason
          aliquet sit amet erat in blandit. In et tincidunt sapien. Nulla maximus loreme se
          pellentesque dolor nec efficitur. Phasellus maximus elit sollicitudin dui
          scelerisque. id mollis dolor scelerisque.</p>
          <call-action-component
            [actionName]="'Learn More'"
            [height]="50"
            [width]="200">
          </call-action-component>
        </div>

        <!-- Stat card remains positioned at bottom right -->
        <div class="stat">
            <div class="stat-card">
                <div class="card-icon">
                    <i class="fas fa-award"></i>
                </div>
                <div class="card-content">
                    <div class="stat-number">
                        100<span class="plus">+</span>
                    </div>
                    <div class="stat-text">Trusted By Companies</div>
                </div>
            </div>
        </div>


      </div>

    </div>
  </div>
</section>